@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common styles */

body {
  font-family: "Source Code Pro", monospace;
  background: #332c2c;
  color: #fff;
  padding-bottom: 2rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

@media (min-width: 2000px) {
  .container {
    max-width: 1920px;
  }
}
